.container {
  border: var(--border1);
  border-radius: 8px;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 32px 20px !important;
  }

  .payment {
    width: 47%;
  }

  .ordersAll {
    margin-left: 10px;

    .container {
      padding: 10px 10px 0 !important;
      width: 80%;

      .tableBody {
        & tr {
          & td {
            .tableCellValue {
              font-size: 0.6em;
            }
          }
        }
      }
    }
  }
}
