@import url("@/app/styles/mixin.css");

.light-one {
  top: 0;
  width: auto;
  right: 0;
  z-index: -1;
  position: absolute;
}

.crypto-grid {
  display: grid;
}

.crypto-grid > div {
  padding: 0;
}

.light-two {
  top: 0;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-three {
  top: rem(75);
  right: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-four {
  top: 58%;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-five {
  right: 0;
  bottom: -38%;
  width: auto;
  z-index: -1;
  position: absolute;
}

.content-wrapper {
  flex: 1;
  padding: clamp(1.75rem, 4vw, 4rem) 0;
  position: relative;

}

.icon-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: rem(16px);
  border-radius: rem(8px);
  background: var(--color-black);
}

.blue-text {
  @mixin textLinearGradient;
}

.grey-text {
  @mixin textGrey;
}

.rates-table-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: clamp(2rem, 4vw, 4rem) clamp(1.25rem, 4vw, 4rem);
  border-radius: rem(8px);
  background: var(--color-black);
}

.search-input {
  --input-padding-y: 0;
  --_input-padding-left: rem(43);
  --_input-padding-right: rem(16);

  @mixin text-5-full;

  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: 4px;

  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }

}

.search-input-wrapper {
  min-width: rem(300px);
}

.rates-button-root {
  --_button-bd: 1px solid rgba(255, 255, 255, 0.12);
  --button-hover: transparent !important;
  --button-radius: rem(4px) !important;

  transform: none;
  @mixin transition;

  & :local(.rates-button-label) {
    --text-color: var(--color-grey);
  }

  @mixin hover {
    --_button-bd: 1px solid #7673F5;
    box-shadow: 0px 0px 8px 0px rgba(98, 95, 244, 0.64);

    & :local(.rates-button-label) {
      --text-color: var(--color-blue);
      text-shadow: 0px 2px 8px rgba(98, 95, 244, 0.64);
    }
  }

  &:active,
  &:local(.rates-button-root-active) {
    --_button-bd: 1px solid #7673F5;
    box-shadow: none;
    & :local(.rates-button-label) {
      --text-color: var(--color-blue);
      text-shadow: none;
    }
  }

}

.rates-button-root-active {
  transform: none;
}

.rates-button-label {
  @mixin transition;
  @mixin text-4-full var(--color-grey);
}

.rates-divider-root {
  --divider-color: rgba(255, 255, 255, 0.12);
}

.categories-wrapper {
  padding-top: rem(32px);
}

.category-button-wrapper {
  height: rem(54);
  cursor: pointer;
  padding: 0 16px 30px 16px;
  position: relative;
  @mixin transition;

  &::after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    position: absolute;
    background: transparent;
    border-radius: rem(8) rem(8) 0 0;
    @mixin transition;
  }

  &:hover,
  &[data-active] {

    &::after {
      opacity: 1;
      background: var(--gradient-radial);
      box-shadow: 0px 0px 8px 0px rgba(98, 95, 244, 0.64);
    }

    & :local(.category-button) {
      --text-color: var(--color-blue);
      text-shadow: 0px 2px 8px rgba(98, 95, 244, 0.64);
    }

  }

  &[data-active] {

    &::after {
      box-shadow: none;
    }

    & :local(.category-button) {
      text-shadow: none;
    }
  }

}

.category-button {
  @mixin text-4-full var(--color-grey);
  @mixin transition;
}

@media (max-width: 1440px) {
  .rates-table-wrapper {
    padding: 2rem 1.25rem;
  }
  .rates-table-wrapper > div:nth-child(2) {
    overflow-x: scroll;
  }
  .rates-table-wrapper > div > table {
    min-width: 440px;
  }
  .categories-wrapper {
    grid-gap: 12px;
    padding-top: 1.5rem;
  }
  .category-button-wrapper {
    padding: 0 0.75rem;
    height: 42px;
  }
  .category-button-wrapper button {
    font-size: 14px;
  }
  .table-head th {
    display: none;
  }
  .tableHeader > div {
    width: 100%;
  }
  .button-flex {
    padding-top: 1rem;
    border-top: 1px solid rgba(255,255,255,.12);
    grid-gap: 0.75rem;
  }
  .button-flex button {
    height: 40px;
  }
  .button-flex button span {
    font-size: 0.875rem;
  }
  .rates-table-wrapper > div:first-child {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .icon-wrapper {
    padding: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
  }
  .header-row {
    grid-gap: 8px;
  }
  .icon-wrapper img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 470px) {
  .gridCols > div {
    display: flex;
    flex-direction: column;
  }
  .gridColsItem {
    width: 100%;
    max-width: 100%;
  }
}

