@import url("@/app/styles/mixin.css");

.coinsContainer {
  height: 383px;
}
.searchInput {
  padding: 16px 16px 16px 43px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: 4px;
  height: 100%;
  font-family: "ProximaNova";
  font-size: 14px;
  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  div {
    flex-grow: 1;
  }
}

.searchInputWrapper {
  flex-shrink: 0;
}
.searchInputSection {
  padding: 16px 0 16px 16px;
}

.closeSearchWndowIcon {
  color: white;
  border-radius: 8px;
  padding-left: 30px;
  width: 51px;
  height: 51px;
}

.dropdown {
  background-color: transparent !important;
  padding: 0;
  border: none;
}
.target {
  svg {
    path {
      fill: var(--color-blue);
    }
  }
}

@media screen and (max-width: 1024px) {
  .coinsContainer {
    height: 500px;
  }

  .dropdown {
    left: 13px !important;
    top: 13% !important;
    width: 95% !important;
    box-shadow: 10px 111px 138px 62px rgba(12, 13, 16, 0.8);
  }
}
