@import url("@/app/styles/mixin.css");

.coinsContainer {
  height: 383px;
}
.searchInput {
  padding: 16px 16px 16px 43px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: 4px;
  height: 100%;
  font-family: "ProximaNova";
  font-size: 14px;
  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }
}

.searchInputWrapper {
  flex-shrink: 0;
}
.searchInputSection {
  padding: 16px 0 16px 16px;
}

.dropdown {
  background-color: transparent;
  padding: 0;
  border: none;
}
.target {
  svg {
    path {
      fill: var(--color-blue);
    }
  }
}

@media screen and (max-width: 1024px) {
  .coinsContainer {
    height: 40em;
  }

  .dropdown {
    left: 13px !important;
    top: 13% !important;
    width: 95% !important;
    box-shadow: 10px 54px 0px 60px rgba(NaN, 12, 13, 0.32);
  }
}
